
@{
    ViewData["Title"] = "CustomerVIew";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>CustomerView</h1>
@section DoctorView
{
    <a class="btn btn-secondary mr-auto" asp-controller="Home" asp-action="ViewDoctor">Doctor</a>
}

